.Card {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(158, 145, 145);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem 0;
    h2 {
        text-align: center;
    }
}
