.button {
    height: 3rem;
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: gray;
    font-size: 1.5rem;
}

.clickableButton {
    cursor: pointer;
}
