.authInput {
    display: block;
    color: rgb(60, 138, 64);
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;

    input {
        display: block;
        height: 2rem;
        font-size: 1.5rem;
        width: 15rem;
        margin-left: auto;
        margin-right: auto;
    }
    h2 {
        text-align: center;
    }
}

.submit {
    width: auto;
    margin-top: 1.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    color: green;
    cursor: pointer;
}

.error {
    text-align: center;
    color: red;
}

.success {
    text-align: center;
    color: green;
}
